.chat__side{
  color: #fff;
  width: 300px;
  float: left;
  
  .side__header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 15px;
    
    .side__header__box{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      
      &__user-name{

      }
      &__menu__new-group{
        display: inline-block;
        margin-left: 1px;
      }
    }
  }
}
// .side__contents{
//   background-color: #2f3e51;
//   height: calc(100vh - 100px);
//   padding: 20px 20px 0;
//   overflow: scrolls;
        
//   .group__name{
//     font-size: 15px;
//     margin-bottom: 5px;
//   }
        
//   .side__message{
//     font-size: 11px;
//     margin-bottom: 40px;
//   }
// }
    
.contets{
  width: calc(100vw - 300px);
  float: left;
      
  .contents__top{
    justify-content: space-between;
    border: #eeeeee;
    height: 100px;
    display: flex;
    padding: 0 40px;
    border-bottom: 1px solid #eeeeee;
        
    .contents__top__left{
      margin-top: 35px;
    
      &__group-name{
        font-size: 20px;
        color: #333333;
         margin-bottom: 15px;
      }
      &__member{
        display: flex;
        font-size: 12px;
        color: #999999;
        
        &__user{
          margin-left: 0.3rem;
        }
      }
    }
    .contents__top__btn{
      color: #38AEF0;
      border: 1px solid #38AEF0;
      padding: 10px 20px 10px;
      margin-top: 28px;
      position: absolute;
      line-height: 20px;
      right: 40px;
    }
  }
}

.messages{
  background-color: #fafafa;
  box-sizing: border-box;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
  overflow: scroll;
  

  .message {
    
    .upper-message {
      display: flex;
      &__user-name {
      
        font-size: 16px;
        font-weight: bold;
      }
      &__date {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    .lower-message {
      margin-top: 10px;
      &__content {
        
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }
} 
  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: #fff;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
        cursor: pointer;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38AEF0;
      border: none;
      color: #fff;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      cursor: pointer;
    }
  }

  